:root {
    --colororg: #333333;
    --color2: #6528e0;
    --fontaviny: aviny;
    --fontlale: lale;
    --fontirs: irs;
}

@font-face {
    font-family: aviny;
    src: url(aviny.ttf);
}

@font-face {
    font-family: lale;
    src: url(Lalezar-Regular.ttf);
}

@font-face {
    font-family: irs;
    src: url(IRANSansWeb_Bold.ttf);
}

body {
    background: var(--colororg);
    overflow-x: hidden !important;
}

h1,
h2,
h3,
p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--fontlale);
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 27px;
}

/* mfd  */
@media (min-width:300px) {
    #form-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imglogo {
        width: 65%;
        margin-top: -35px;
    }

    #login-form {
        border: 3px solid white;
        background-color: white;
        height: 273px;
        width: 347px;
        margin-left: 9px;
        border-radius: 10px;

    }

    #login-form input {
        background-color: var(--colororg);
        width: 313px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-left: 4px;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
    }

    #login-form input::placeholder {
        text-align: center;
    }

    #btn1 {
        color: rgb(255, 255, 255);
        outline: none;
        border: none;
        stroke: none;
        width: 256px;
        padding: 10px 20px;
        font-size: 18px;
        background-color: var(--color2);
        margin-left: 45px;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        cursor: pointer;
        /* position: relative; */
        overflow: hidden;
        font-family: var(--fontirs);
    }
}

/* add  */
@media (min-width:500px) {
    .imglogo {
        width: 100px;
        margin-top: 5px;
        transition: all 2s;
    }
    .imglogo:hover{
        transform: rotate(360deg);
    }

    #login-form {
        border: 3px solid white;
        background-color: white;
        height: 310px;
        width: 670px;
        margin-left: 329px;
        border-radius: 10px;
    }

    #login-form input {
        background-color: var(--colororg);
        width: 434px;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-left: 102px;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    #btn1 {
        color: rgb(255, 255, 255);
        outline: none;
        border: none;
        stroke: none;
        width: 256px;
        padding: 10px 20px;
        font-size: 18px;
        background-color: var(--color2);
        margin-left: 202px;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        cursor: pointer;
        /* position: relative; */
        overflow: hidden;
        font-family: var(--fontirs);
    }
    #btn1:hover{
        opacity: 0.5;
        background-color: gray;
    }
}